
.main {
  margin: auto;
  width: 50%;
  border: 0.1em solid green;
  padding: 2em;
  text-align: center;
  margin-top: 1em;
}

.nav-button {
    border: 1em;
    padding: 3%;

}

.nav-button:hover {
    color: green;
}
